.panel {
    width: 98%;
    height: 700px;
    border-radius: 3px;
    padding: 30px 20px;
    margin: 15px;
    background-color: #d983a6;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
    color:black;
    font: caption;
    font-weight: 100;
}