.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.menu-button {
  color: #09d3ac;
  background-color: #282c34;
  position: absolute;
  top: 10vh;
  right: 10vw;
}
.sub-menu {
  display: none;
  position: absolute;
  top: 10vh;
  right: 15vw;
  z-index: 10;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #282c34;
}
.open-menu {
  display: block;
}
.sub-menu a {
  display: block;
  margin-bottom: -1px;
  padding: 8px 14px;
  color: #09d3ac;
  text-decoration: none;
  border: 1px solid #e5e5e5;
}
.sub-menu a:hover {
  background-color: #282c48;
}

